<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'base' %>
<%= stylesheet_link_tag 'faq' %>

<div class="body">
	
		<h2 class="titleLeft"> FAQ </h2>
		<div class="questionLinks">
			<a href="#1" class="questionLinks">How do I make an account?</a>
			<br/><a href="#2" class="questionLinks">How do I save an airplane to my account?</a>
			<br/><a href="#3" class="questionLinks">How do I plan a trip?</a>
			<br/><a href="#10" class="questionLinks">Why can't I plan a trip?</a>
			<br/><a href="#11" class="questionLinks">What does it mean if the total price is marked in orange?</a>
			<br/><a href="#6" class="questionLinks">Can I book a flight with an unknown cost?</a>
			<br/><a href="#4" class="questionLinks">What does "distance" when planning a trip refer to?</a>
			<br/><a href="#5" class="questionLinks">How are prices determined?</a>
			<br/><a href="#7" class="questionLinks">How do I know if my booked flight has been confirmed?</a>
			<br/><a href="#8" class="questionLinks">How do I report inaccurate information?</a>
			<br/><a href="#9" class="questionLinks">What are the benifits of reporting inaccurate information?</a>
		</div>
	
	<table>
		<tr><td><h3 class="title">Answers</h3></td></tr>
		<tr class="formTitle" id="1"><td>How to make account?</td></tr>
			<tr><td class="tableItems">Click the login button, below the login information is a link to create your account.</td></tr>
		
		<tr id="2" class="formTitle"><td>How do I save an airplane to my account?</td></tr>
			<tr><td class="tableItems">In order to save an airplane to your account, start by clicking the account button in the header. This will bring down a drop-down menu. In the drop-down you will see a link to "profile". Once you have gone to your profile page, scroll to the bottom. At the bottom of the page is an area where you can type in your airplane's tail number, and then select the manufacturer and model of the airplane. Once you have selected choices from these three options, click the "Add Airplane" button to add your airplane.</td></tr>
			
		<tr id="3" class="formTitle"><td>How do I plan a trip?</td></tr>
			<tr><td class="tableItems">Click on the plan trip link in the header. If you do not have an account, the plan trip page will redirect you to the login screen. Once you make an account or log in, planning a trip is extremely simple. First, make sure your profile has at least one airplane entered before planning your trip. Once you have at least one airplane, then you just select your destination, distance from your destination, airplane you want to take, the time you will arrive at the airport and your departure time from that airport. You can then select different options from the results page to book your trip.</td></tr>
		
		<tr id="10" class="formTitle"><td>Why can't I plan a trip?</td></tr>
			<tr><td class="tableItems">When planning a trip there are a few things to keep in mind. You will not be able to gain results if: you put in a distance less than 10, or greater than 75, or if you put in an arrival time that is less than a day away, or if your departure date comes before your arrival date. This is because the arrival and departure time refer to arriving and departing from your destination airport. </td></tr>
		
		<tr id="11" class="formTitle"><td>What does it mean if the total price is marked in orange?</td></tr>
			<tr><td class="tableItems"> Unfortunately we were unable to gain complete data for that airport or fixed based operator. But with partial data we are able to estimate the price, when we do this, we mark the price in orange. We confirm all prices with the fixed based operator and alert you if the price is different from the estimate, before confirming your trip.</td></tr>
		
		<tr id="6" class="formTitle"><td>Can I book a flight with an unknown cost?</td></tr>	
			<tr><td class="tableItems">Yes, if you book a trip with an unknown cost we will get the price for you! When we report the price back to you, you may either confirm or deny the trip based on the cost.</td></tr>
		
		<tr id="4" class="formTitle"><td>What does "distance" when planning a trip refer to?</td></tr>	
			<tr><td class="tableItems">Distance on the plan trip page refers to the number of miles from city center.</td></tr>
			
		<tr id="5" class="formTitle"><td>How are prices determined?</td></tr>	
			<tr><td class="tableItems">Currently prices are determined many different ways by many different fixed based operators and many different airports. Some have a flat rate, while others categorize by weight, wingspan, or other categories. Luckily ChartAir organizes this data so you only need to see the information that affects your bottom line.</td></tr>
			
		<tr id="7" class="formTitle"><td>How do I know if my booked flight has been confirmed?</td></tr>	
			<tr><td class="tableItems">In order to check to see if your flight has been confirmed, click on your account name, then, from the dropdown menu, select trips. On your trips page, your trip will be marked as pending, confirmed, completed, or ask you to resolve an alteration. If the status of your trip is confirmed, it has been confirmed your trip has been booked.</td></tr>
			
		<tr id="8" class="formTitle"><td>How to report inaccurate information?</td></tr>
			<tr><td class="tableItems">Go to your trips page, and any completed trip will have a link to rate them. When rating the trip, you will have the option to rate ChartAir as a service, along with the fixed based operator you landed at.</td></tr>
		
		<tr id="9" class="formTitle"><td>What are the benefits of reporting inaccurate information?</td></tr>	
			<tr><td class="tableItems">As a company, we want to bring you the best service we possibly can. Without feedback it is difficult for us to know what we can do better.</td></tr>	
	</table>
</div>

