<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'main' %>

<div id="jumpDown">
	<h2> FAQ </h2>
	<p> How to save a plane to your account?<br/> How to report inaccurate information? <br/></p>
</div>

<h4>How to save a plane to your account?</h4>
	<p>Click on your username, scroll down to the add plane section. Then type in your airplane's information in the approprate feilds. Finally click the plus icon to save and add your plane.</p>
<h4>How to report inaccurate information?</h4>
	<p>Click on the feedback link located in the page's header. From there you can select a trip that had inaccurate information and what the correct information is.</p>
