<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'main' %>

<div id="jumpDown">
	<h2> FAQ </h2>
	<a href="#1">How do I make an account?</a>
	<br/><a href="#2">How do I save an airplane to my account?</a>
	<br/><a href="#3">How do I plan a trip?</a>
	<br/><a href="#4">What does "distance" when planning a trip refer to?</a>
	<br/><a href="#5">How are prices determied?</a>
	<br/><a href="#6">How do I book a flight?</a>
	<br/><a href="#7">How do I know if my booked flight has been confirmed?</a>
	<br/><a href="#8">How do I report inaccurate information?</a>
	<br/><a href="#9">What are the benifits of reporting inaccurate information?</a>
</div>

<h3 id="1">How to make account?</h3>
	<p></p>

<h3 id="2">How do I save an airplane to my account?</h3>
	<p> &ensp; &ensp; In order to save an airplane to your account, start by clicking the account button in the header. This will bring down a drop-down menu. In the drop-down you will see a link to "profile". Once you have gone to your profile page, scroll to the bottom. At the bottom of the page is an area where you can type in your airplane's tailnumber, and then select the manufacture and model of the airplane. Once you have selected choices from these three options, click the "Add Plane" button to add your airplane.</p>
	
<h3 id="3">How do I plan a trip?</h3>
	<p></p>
	
<h3 id="4">What does "distance" when planning a trip refer to?</h3>	
	<p></p>
	
<h3 id="5">How are prices determied?</h3>	
	<p></p>
	
<h3 id="6">How do I book a flight?</h3>	
	<p></p>
	
<h3 id="7">How do I know if my booked flight has been confirmed?</h3>	
	<p></p>	
	
<h3 id="8">How to report inaccurate information?</h3>
	<p>Click on the feedback link located in the page's header. From there you can select a trip that had inaccurate information and what the correct information is.</p>

<h3 id="9">What are the benifits of reporting inaccurate information?</h3>	
	<p></p>	