<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'main'%>

<html>
    
  <head>
    <title><%= yield(:title) %></title>
  </head>
  
  <body>
		
		<div id="welcome">
			<h1> Welcome Back to ChartAir</h1>
			<p>To Plan a Trip, click the plan trip link on the header</p>
			<p>You can add, edit, and remove your planes from your user page</p>
		</div>
  </body>
  
</html>
