<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'base'%>


<h1 class="title"> Welcome to ChartAir</h1>

<p class="summaryText">To get started go to your profile and add your first airplane: <%= link_to "Your Profile", method: :get %></p>
<p class="summaryText">After you add your first airplane, you can plan your first trip!</p>


