<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'main'%>

<h1>All Trips</h1>

<table id="trips">
    <tr>
        <td><h3>Trip Status</h3></td>
        <td><h3>Destination</h3></td>
        <td><h3>Time and Date</h3></td>
        <td><h3>Airplane</h3></td>
        <td><h3>Cost</h3></td>
    </tr>
</table>
