<!DOCTYPE html>
<html>
    
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    
    <p><%=@user.name%> has booked a trip!</br> For more information on the trip click: <%=@url%></p>  
    <p></p>
    
  </body>
  
</html>