<!DOCTYPE html>
<html>
    
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
      
    <p>Hello <%= @user.name %></p>
    
    <p>Your trip to <%=@airport.name.titleize%>, landing at <%=@fbo.name.titleize%> has been altered.</p>
    
    <p>Alterations can occur if the airport you selected does not have the services you listed, or if the price has been changed since our last update.</p>
    
    <p>For more information click: <%=@url%></p>
    
    <p>Sorry for any inconvenience!</p>
    
  </body>
  
</html>


