<!DOCTYPE html>
<html>
    
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
      
    <h1>Hello <%= @user.name %>!</h1>
    
    <p>Your trip to <%=@airport%>, landing at <%=@fbo%> has been altered.</p>
    
    <p>For more information click: <%=@url%></p>
    
    <p>Sorry for any inconvince!</p>
    
  </body>
  
</html>