<!DOCTYPE html>
<html>
    
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
      
    <h1>Hello <%= @user.name %>!</h1>
    
    <p> Your trip to <%=@airport%>, landing at <%=@fbo%> has been confirmed </p>
    
    <p>Your price has been confirmed at <%=@cost%>!</p>
    
    <p>Thank you for booking with ChartAir!</p>
    
  </body>
  
</html>