<!DOCTYPE html>
<html>
    
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    
    <p><%=@fbo%> has sent us their fees!</p>
    <p>They say:</p>
    <p><%=@email_from_fbo%></p>
    
  </body>
  
</html>