<h1>Welcome to chartair.us, <%= @user.name %></h1>
<p>You have successfully made an account with chartair.us, your username is: <%= @user.name %>.<br></p>
<p>To login to the site, just follow this link: <%= @url %>.</p>
<p>Thank you so much for joining us at ChartAir!</p>