/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/plan_trip.scss */
#locationInfo {
  padding: 1%;
  width: 50%;
  -webkit-border-radius: 10px;
  float: left;
  height: 100%;
}

/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/plan_trip.scss */
#otherInfo {
  padding: 1%;
  width: 50%;
  -webkit-border-radius: 10px;
  float: left;
  height: 100%;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/plan_trip.scss */
.planTripGo {
  padding-top: 5%;
  width: 100px;
  height: auto;
}

/* line 23, /home/ubuntu/workspace/app/assets/stylesheets/plan_trip.scss */
.formPlanTrip {
  background-color: #EEEEEE;
  width: 90%;
  white-space: nowrap;
  -webkit-border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  border: 1px solid lightgrey;
  box-shadow: 0px 3px 6px #7487A3;
}

/* line 35, /home/ubuntu/workspace/app/assets/stylesheets/plan_trip.scss */
.datetime select:nth-child(1) {
  width: 130px;
  text-indent: 15px;
}
