<!DOCTYPE html>
<html>
    
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
      
    <h1><%=@fbo.name.titleize%>'s fees</h1>
    <p><%=@email_from_fbo%></p>
    
  </body>
  
</html>