@import "bootstrap-sprockets";
@import "bootstrap";


//*Header of the text*//

header{
	position:fixed;
	top: 0%;
	right: 0%;
	left: 0%;
	width: 100%;
	height: 50px;
	opacity: 70%;
	background-color: #0276FD;
	background-repeat: no-repeat;
    background-size: 100% 100%;
	background-attachment: fixed;
	box-shadow: 1px 3px 6px #7487A3;
}

.dropdown-menu a{
    color: grey !important;
}

#navBar{
	position:fixed;
	right: 7.5%;
	top: 10px;
	
	.item{
		font-size: 20px;
		color: white !important;
		a{
			padding: 10px;
			text-decoration: none;
			color: white !important;
		}
	}
	
	.dropdown-toggle{
	    color: white;
	    font-size: 20px;
	}
}

#headerNavItems li{
	display: inline;
}

#logo{
	width:auto;
    height: 50px;
	position: fixed;
	top: 0px;
	left: 5.5%;
}

/*position of body*/

html, body {
  min-height: 100%;
}

html{
	background-color: #F3F6FC;
	padding-right: 5%;
	padding-left: 5%;
	height: 100%;
}

body{
	background: white;
	padding-left: 4%;
	padding-top: 75px;
	padding-right: 4%;
	padding-bottom: 5%;
	border: 1px solid lightgray;
}

/*details used often*/

a{
	color: #3CADF9;
}

.title{
    color: #666666;
    font-size: 32px;
    text-decoration: underline;
    -webkit-text-decoration-color: #9DC7FF;
    text-decoration-color: #9DC7FF;
    text-align: center;
    padding-bottom: 3%;
}

.titleLeft{
    color: #666666;
    font-size: 32px;
    text-decoration: underline;
    -webkit-text-decoration-color: #9DC7FF;
    text-decoration-color: #9DC7FF;
    text-align: left;
    padding-bottom: 3%;
}

.invisable{
	display: none;
}

.columnTitles{
    color: #95989A;
    font-size: 24px;
    text-align: center;
}


.formLable{
	color: #95989A;
	font-size: 18px;
	text-align: center;
}

.formTitle{
	color: #95989A;
	font-size: 24px;
	text-align: center;
	padding-top: 4%;
}

.form{
	background-color: #EEEEEE;
	width: 50%;
	white-space: nowrap;
	-webkit-border-radius: 10px;
	margin-left: 25%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.formProfile{
	background-color: #EEEEEE;
	display: inline-block; 
	white-space: nowrap;
	-webkit-border-radius: 10px;
	width: 30%;
	padding-bottom: 1%;
	float: right;
}

.submit{
	color: white;
	font-size: 18px;
	background-color: #509BFF;
	border: none;
	-webkit-border-radius: 10px;
	margin-top: 2%;
}

.submitWide{
	color: white;
	font-size: 18px;
	background-color: #509BFF;
	border: none;
	-webkit-border-radius: 5px;
	margin-top: 2%;
}

.center{
	text-align: center;
}

.icon{
	width: 30px;
	height: auto;
}

.floated{
	float: left;
}

.tableItems{
    color: #95989A;
    font-size: 18px;
    text-align: center;
}

table{
	table-layout: fixed;
	width: 100%;
	height: 100%;
	float: center;
}

tr:nth-child(even) {
    background-color: #F9F9F9;
}

td{
	padding: 0.6%;
}

footer{
  right: 0%;
  bottom: 0%;
  left: 0%;
  background: radial-gradient(circle, rgba(255,255,255, .75), rgba(255,255,255, 0)); 
  text-align: center;
}

#footContainer{
	position:relative;
	min-height: 100%;
}

.summary{
	color: gray;
	font-size: 24px;
	background-color: #f9f9f9;
	text-align: justify;
	padding: 3%;
	border: 1px solid lightgray;
}

.summaryNotice{
	color: gray;
	font-size: 18px;
	background-color: #fff0ad;
	text-align: justify;
	padding: 1%;
	border: 1px solid lightgray;
}

.summaryAboutUs{
	background-color:#3B444C;
	font-size: 16px;
	color:white;
	width: 100%;
	text-align: justify;
	padding: 3%;
}

.summaryText{
	color: gray;
	font-size: 24px;
	text-align: center;
}

.issueButton{
	color: white;
	font-size: 18px;
	background-color: #509BFF;
	border: none;
	padding: 1%;
	-webkit-border-radius: 10px;
	margin-top: 2%;
}

.flash{
  color: #F46666;
}

/*extratables*/

#bookTripTable{
	background-color: white;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	float: center;
	text-align: center;
}

#ourTeamTable tr{
	background-color: none !important;
}

#ourTeamTable{
	table-layout: fixed;
}

.small{
	width:200px;
	height:auto;
	-webkit-border-radius: 100px;
	float: center;
	text-align: center;
}

.summaryStory{
	color: white;
	font-size: 18px;
	background-color: #509BFF;
	text-align: justify;
	padding: 3%;
}

.aboutUsText{
	font-size: 18px;
	color: #2F363D;
	padding-left: 1%;
}

.name{
	font-size: 20px;
	color: #509BFF;
}


