#fboPrices{
    width: 35%;
    float: left;
    background-color: #f3f3f3;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 1.5%;
}

#feeTableTitle{
    text-align: center;
    color: darkgrey;
    
}

#feeTables{
    background-color: white;
    padding: 5%;
}