#fboPrices{
    width: 35%;
    float: left;
    background-color: #f3f3f3;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 1.5%;
}

#feeTableTitleMain{
    text-align: center;
}

.feeTableTitle{
    margin-top:3%;
    text-align: center;
    color: black;
    font-size: 18px;
}

#updateButton{
    float:right;
    padding-left: 3%;
    padding-right: 3%;
}

#feeTables{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 1%;
    margin-left: 0%;
    margin-right: 30%;
    width: 50%;
    background-color: #f3f3f3;
    
}

#feeInner{
    background-color: white;
    padding: 5%;
    padding-top: 2%;
}