@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body{
	margin-top: 0px;
	height: 100%;
	width: 100%;
	margin-left: 0%;
	margin-bottom: 0%;
	font-family:'Roboto Condensed', sans-serif;
}

//*Header of the text*//

header{
	top: 0%;
	right: 0%;
	left: 0%;
	height: 50px;
	padding: 1%;
	background-color: rgba(2,118,253,0.7);
	background-repeat: no-repeat;
    background-size: 100% 100%;
	background-attachment: fixed;
}

#navBar{
	float: right;
	margin-right: 5%;
}

.dropdown-menu a{
    color: grey !important;
}



.darkGray{
	color: gray;
	font-size: 20px;
	text-decoration: none;
}

#navBar{
	right: 7.5%;
	top: 10px;
	
	.item{
		font-size: 20px;
		color: white !important;
		a{
			padding: 10px;
			text-decoration: none;
			color: white !important;
		}
	}
	
	.dropdown-toggle{
	    color: white;
	    font-size: 20px;
	}
}

#headerNavItems li{
	display: inline;
}

#logo{
	width:auto;
    height: 50px;
	top: 0px;
	left: 5.5%;
}

.small{
    width: auto;
    height: 35%;
}

.center{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.footCenter{
	text-align: center;
}

.contactUsPictures{
	width: auto;
	height: 150px;
}

#highLevel{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 6%;
    background-image: url("sky4.jpg");
    color: white;
    font-size: 24px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: sans-serif !important;
}

.highLevelHeader{

}

.sponcer{
	height: 75px;
	width: auto;
}

.sponcer2{
	height: 125px;
	width: auto;
}

#sponcerTable{
	table-layout: fixed;
	width: 100%;
}

#details{
    background: #87ccff;
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 3%;
    padding-bottom: 3%;
    float: left;
}

#creditabilty{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #7487A3;
    color: white;
}

#currentPartners{
	width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #7487A3;
}

#aboutUs{
   padding-top: 5%;
}

#contactUs{
    width: 100%;
    background-color: white;
    float: right;
}

#bottomCredits{
    width: 100%;
    background-color: #7487A3;
    float: right;
    color: white;
    padding: 1%;
}

#left{
	float: left;
}

.title{
    color: #666666;
    font-size: 32px;
    text-decoration: underline;
    -webkit-text-decoration-color: #a5cbff;
    text-decoration-color: #a5cbff;
    text-align: center;
    padding-bottom: 3%;
}

.name{
	font-size: 24px;
	color: #0276FD;
}

#startButton{
	text-align: center;
	background-color: #52BAFF;
	color: white;
	-webkit-border-radius: 10px;
	width: 100%;
	padding: 1%;
	a{
		color: white;
	}
}

#startButton2{
	margin-top: 5%;
	text-align: center;
	background-color: #52BAFF;
	color: white;
	-webkit-border-radius: 10px;
	width: 100%;
	padding: 1%;
	a{
		color: white;
	}
}

#contactUsTable{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	table-layout: fixed;
	td{
		width: 200px;
		text-align: center;
	}
}

.short{
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
	color: black;
	font-size: 16px;
}

#megaTitle{
	font-size: 100px;
	text-align: center;
	color: darkGray;
}

#ourSolution{
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	float: left;
}

#ourSolutionTable{
	table-layout: fixed;
	width: 100%;
	text-align: center;
	td{
		
	}
}

#innerOurSolutionTable{
	font-size: 24px;
	color: darkGray;
}

.tableTitle{
	color: #7487A3;
	font-size: 24px;
}

.right{
	float: right;
	text-align: right;
}

.solutionIcon{
	width: 250px;
}

.solutionIcon2{
	height: 100px;
}

#solutionTitle{
	color: darkGray;
	font-size: 32px;
}

.flash{
	padding: .5%;
	background-color: #edf6aa;
	color: black;
	font-size: 18px;
	-webkit-border-radius: 10px;
	margin-top: 1%;
	margin-left: 5%;
	float: left;
	width: 20%;
	text-align: center;
}

.right{
	float: right;
	color: lightgrey;
}

#airportReachOut{
	float: left;
	padding: 1%;
	background-color: #f3f3f3;
	width: 70%;
	margin-left: 14%;
	margin-right: 14%;
	margin-bottom: 3%;
}

.black{
	color: black;
	text-align: center;
}