@import "bootstrap-sprockets";
@import "bootstrap";


//*Header of the text*//

header{
	position:fixed;
	top:1%;
	right:0%;
	width:100%;
	height: 5%;
	background-color: rgba(255,255,255, 0.5);
}

#navBar{
	position:fixed;
	right: 1.5%;
	top: 1.25%;
	
	.item{
		font-size: 18px;
		a{
			padding: .1em 1em;
			text-decoration: none;
		}
	}
}

#headerNavItems li{
	display: inline;
}

#logo{
	width:auto;
    height: 50px;
	position: fixed;
	top:.5%;
	left:3%;
}

#user{
	width:50px;
    height: auto;
}

//*Body of the text*//

body{
	margin: 0px;
   	min-height: 100%;
   	width: 100%;
	font-family: 'tradegothiclt-condeighteen', sans-serif;
	display:-webkit-box;
	padding-left:1%;
	padding-right:1%;
	padding-top: 5%;
	padding-bottom: 3%;
	-webkit-box-orient: vertical;
	-webkit-box-pack:right;
	background-color: rgba(255,255,255, 0);
	font-size:18px;
	color:#333333;
}

.body{
	background-color: white;
	padding-left: 3%;
	padding-top: 2%;
	padding-right: 3%;
	padding-bottom: 2%;
  	min-height: 100%;
}

p{
	font-weight: normal;
}

.center{
	text-align:center;
}

.right{
	position: relative;
	text-align:right;
}

#ourTeam{
	width:100%;
}

html{
	height: 100%;
	background-image: url(sky3.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
	background-attachment:fixed;
}

#airplanes{
	width:100%;
}

#planTrip{
	-webkit-border-radius: 10px;
	border: solid 2px #3a8dfd;
	background:#3a8dfd;
	color: white;
}

#planTrip a{
	text-decoration: none;
	color: white;
}

#addPlane{
	border: solid 2px #3a8dfd;
	-webkit-border-radius: 10px;
	background:#3a8dfd;
	color: white;
}

.delete{
	-webkit-border-radius: 10px;
	border: solid 2px #3a8dfd;
	background:#3a8dfd;
	color: white;
}

#addPlane{
	position: relative;
	left:45%;
}

#ourTeam{
	min-width:30%;
	text-align: center;
}

#ourStory{
	max-width:30%;
	text-align: center;
}

#ourTeamTable{
	table-layout: fixed;
	margin-left: 0%;
	width: 100%;
	text-align: center;
}

#missionStatement{
	padding: 5%;
}

td{
    padding: 0% 5% 0% 5%;
}

.small{
	width:250px;
	height: auto;
}

ul {
	list-style: none;
	font-size:24px;
	padding:0px;
}

li{
	padding-top:10px;
}

#newPlaneFields{
	padding:0%;
}

#newPlaneFields li{
	list-style-type: none;
	display:inline-block;
	padding:0%;
}

.smaller{
	position:relative;
	width:50px;
    height: auto;
}

#addButton{
	width:50px;
    height: auto;
}

#trips{
	width:100%;
	border-collapse: separate;
	border: 4px solid light gray;
	border-spacing: 1em;	
	text-align:center;
	font-weight:normal;
}

#tripInfo{
	border-spacing: 3em;
}

input[type=text] {
	position:relative;
	left:20%;
	max-width: 80%;
	-webkit-border-radius: 30px;
	border-radius:solid 1px gray;
	text-align:center;
	background: white;
	font-size: 20px;
	font-family:'tradegothiclt-light',sans-serif;
}

input[type=submit] {
	min-width: 75%;
	-webkit-border-radius: 30px;
	border:solid 2px #81a5d4;
	border:none;
	text-align:center;
	background: #3a8dfd;
	color: white;
	font-size: 20px;
	font-family:'tradegothiclt-light',sans-serif;
}

footer{
  right: 0%;
  bottom: 0%;
  left: 0%;
  background: radial-gradient(circle, rgba(255,255,255, .75), rgba(255,255,255, 0)); 
  text-align: center;
}

#footContainer{
	position:relative;
	min-height: 100%;
}

.invisable{
	display: none;
}
