#locationInfo{
    padding: 1%;
    width:50%;
    -webkit-border-radius: 10px;
    float: left;
    height: 100%;
}

#otherInfo{
   padding: 1%;
   width:50%;
   -webkit-border-radius: 10px; 
   float: left;
   height: 100%;
}

.planTripGo{
    padding-top: 5%;
    width: 100px;
    height: auto;
}

