@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


body{
	font-family:'Roboto Condensed', sans-serif;
}

#googleMap{
	position: relative;
	float: center;
	width: 37%;
	height: auto;
	padding-left: 2%;
}

button{
	border: solid 2px #3a8dfd;
	background:#3a8dfd;
	color: white;
	margin:5%;
	max-width: 50%;
}

#allResults{
	height: 600px;
	width: 60%;
	overflow: auto;
	float: left;
}

.estimate{
	color: #e49100;
}

