// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


body{
	position:absolute;
	top:15%;
	left:0%;
	float:center;
	font-family:'Roboto Condensed', sans-serif;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack:right;
	background-image: image_url('sky3.png');
	color: #c9c9c2;
}

h1{
	text-align: center;
	color: grey;
	font-family:'Roboto Condensed', sans-serif;
}

#userRequestTitle{
	color: white;
	position: fixed;
	top: 60%;
	margin-right: 10%;
	margin-left: 10%;
	font-family:'Roboto Condensed', sans-serif;
}

html{
	height: 100%;
	background-image: url(sky3.jpg);
	background-repeat: no-repeat;
    background-size: 100% 100%;
	background-attachment:fixed;
}

#loginBox{
	position:fixed;
	background-color: rgba(255, 255, 255, .65);
	-webkit-border-radius: 25px;
	border:10px solid rgba(255, 255, 255, .15);
	left: 39%;
	top: 20%;
	padding: 1%;
	text-align:left;
	list-style:none;
}

#newUserBox{
	position:fixed;
	background-color: rgba(255, 255, 255, .65);
	-webkit-border-radius: 25px;
	border:10px solid rgba(255, 255, 255, .15);
	left: 39%;
	top: 10%;
	padding: 1%;
	text-align:left;
	list-style:none;
}

#belowBox{
	position:fixed;
	left: 41.5%;
	top: 75%;
}

#input{
	position:relative;
	left:0%;
	max-width: 100%;
	-webkit-border-radius: 30px;
	border-radius:solid 1px white;
	border:none;
	text-align:center;
	background: white;
	font-size: 20px;
	font-family:'tradegothiclt-light',sans-serif;
}

#loginGroup{
	position:relative;
	margin-top:10%;
	float: center;
	text-align: center;
}

input[type=submit] {
	min-width: 100%;
	-webkit-border-radius: 30px;
	border:solid 2px #81a5d4;
	border:none;
	text-align:center;
	background: #3a8dfd;
	color: white;
	font-size: 20px;
	font-family:'tradegothiclt-light',sans-serif;
}

.smaller{
	position:relative;
	left:40%;
	width:50px;
    height: auto;
}

.logo{
	position: relative;
	left: 0%;
	width:250px;
    height: auto;
}

footer{
	position:fixed;
	bottom:0%;
	left:40%;
	color:#ffffff;
	
	a{
	  text-decoration:none;
	  color: white;
	}
}

#error{
 color: #f26060;
}

.flash {
  color: #F46666;
}

.loginInfo{
	position: relative;
	float: center !important;
	text-align: center !important;
	color: darkgray;
}

.error{
  color: #F46666;
}
