<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'plan_trip_results', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'results' %>

<section id="filters">
	<input type="image" src="/assets/costIcon.png" id="costIcon"/>
		<br/>
	<input type="image" src="/assets/locationIcon.png" id="locationIcon" />
</section>
		
<section id="fees">
	<button id="landing">Landing</button>
	<br/>
	<button id="tie down">Tie-Down</button>
	<br/>
	<button id="ramp">Ramp</button>	
	<br/>
	<button id="facility">Facility</button>	
	<br/>
	<button id="hanger">Hanger</button>	
	<br/>
	<button id="call out">Call Out</button>
	<br/>
	<button id="other">Other</button>
</section>

<h1>Results</h1>

<div id="allResults">
	
</div>