<%= render 'layouts/header' %>
<%= stylesheet_link_tag 'base' %>
<%= stylesheet_link_tag 'plan_trip_results', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'results' %>

<section>
	
	<h1>Results</h1>
	
	Flilters:
	<select id="filters">
		<option id="locationIcon" value="distance">Distance</option>
	    <option id="costIcon" value="cost">Cost</option>
	</select>
	
	&emsp; &emsp; Fees Applied:	
	<input type="checkbox" id="landing">Landing</input>
	<input type="checkbox" id="ramp">Ramp</input>
	<input type="checkbox" id="tie down">Tie-Down</input>	
	<input type="checkbox" id="facility" style="display: none"></input>
	<input type="checkbox" id="call out">Call Out</input>
	<input type="checkbox" id="other" style="display: none"></input>
	
</section>

<div id="allResults">
	
</div>

<img src="" id="googleMap"></img>